# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Ingore terraform dir
.terraform
*.tfstate
*.tfstate.*

# Ignore .auto.tfvars files
*.auto.tfvars

# Ignore generated configs
talosconfig
kubeconfig
